html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  min-width: 320px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --text-color-main:  #333333;
  --text-color-light:  #B0B0B0;
  --color-accent:  #9873FF;
  --color-accent-light: #B89EFF;
  --color-accent-bright: #8052FF; 
  --color-disabled: #C8C5D1;
  --color-danger: #F06A4D;
}

.page {
  min-width: 728px;
  margin: 0;
	padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: var(--text-color-main);
  overflow: auto;
}

.input {
  font: inherit;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* *:focus {
  outline: 2px solid var(--link-color-active);
} */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 1024px) {
  .container {
    padding: 20px 0;
    max-width: 984px;
  }
}